.cadastro {
    width: 78%;
    justify-self: center;
    color: #6AD6EE;
    background: #172739;
    border: 2px solid #0ff3;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid #6AD6EE;
    border-left: 1.5px solid #6AD6EE;
    border-right: 1.5px solid #6AD6EE;
}

.cadastro>div {
    flex: 1;
}

.cadastro>div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cadastro img {
    width: 100%;
}

.cadastro div * {
    margin-bottom: 15px;
}

input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    border-bottom: 3px solid #6AD6EE;
    font-size: 15px;
}

input:focus {
    outline: none;
}

.container {
    padding: 40px 0;
}

button {
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #6AD6EE;
    color: #172739;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #4bbcd3;
    transform: scale(1.01);
}

.cadastro input,
.cadastro button {
    width: 80%;
}

.cadastro>div>input:last-of-type {
    margin-bottom: 5px;
}

.cadastro span {
    font-size: 13px;
}