* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-image: url("../../Assets/background.png");
  color: #cdeaff;
}

.swiper {
  width: auto;
  height: 700px;
}

.noticia {
  position: relative;
  height: 700px;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;

}

.noticia img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.noticia::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    black 0%,
    rgba(0,0,0,0.85) 40%,
    rgba(0,0,0,0.4) 70%,
    transparent 100%
  );
  pointer-events: none;
}

.topbar {
  width: 78%;
  justify-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #172739;
  border-bottom: 1px solid #0ff3;
  border-right: 1px solid #0ff3;
  border-left: 1px solid #0ff3;
  border-radius: 10px;
}

.logo img {
width: 200px;
height: auto;
}

nav a {
  font-size: 18px ;
  font-weight: bold;
  margin-left: 30px;
  cursor: pointer;
  opacity: 0.6;
  color: #D9D9D9;
  text-decoration: none;
}

nav a:hover {
    color: #6AD6EE;
    font-weight: bold;
}

.container {
  padding: 40px 80px;
}

.news {
  max-width: 85%;
  justify-self: center;
  color: #6AD6EE;
  background: #172739;
  border: 2px solid #0ff3;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
}

.news h2{
  margin-bottom: 50px;
}

.topbar
{
  border-bottom: 2px solid #6AD6EE;
}
