:root{
  --destaque: #6AD6EE;
  --contraste: #B87333;
  --preto: #131319;
  --branco: #D9D9D9;
  --fundo1: #172739;
  --frente1: #838690;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-image: url("../../Assets/background.png");
}

.swiper {
  width: auto;
  height: 700px;
}

.noticia {
  position: relative;
  height: 700px;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;

}

.noticia img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.noticia::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top,
      black 0%,
      rgba(0, 0, 0, 0.85) 40%,
      rgba(0, 0, 0, 0.4) 70%,
      transparent 100%);
  pointer-events: none;
}

.topbar {
  width: 78%;
  justify-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: var(--fundo1);
  border-bottom: 1px solid var(--destaque);
  border-right: 1px solid var(--destaque);
  border-left: 1px solid var(--destaque);
  border-radius: 10px;
  margin-top: 20px;
}

.logo img {
  width: 200px;
  height: auto;
}

nav a {
  font-size: 18px;
  font-weight: bold;
  margin-left: 30px;
  cursor: pointer;
  opacity: 0.6;
  color: var(--branco);
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #6AD6EE;
  font-weight: bold;
}

.container {
  padding: 40px 80px;
}

.cards {
  margin-top: 20px;
  height: 750px;
  width: 85%;
  justify-self: center;
  color: var(--destaque);
  background: var(--fundo1);
  border: 2px solid var(--destaque);
  padding: 30px;
  border-radius: 8px;
  text-align: center;

}

.cardContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;

  height: 550px;
  width: 350px;
  margin-top: 0px;
  border-radius: 20px;
  border: 1px solid var(--destaque);
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);

  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.4),
    inset 0 0 0 1px rgba(255, 255, 255, 0.05);

  transition: 0.3s ease;
}

.card img {
  height: 100px;
  width: auto;
  filter: invert(100%);
  margin-bottom: 30px;
}

.card p {
  font-size: large;
  text-align: justify;

}

.card:hover {
  transform: translateY(-8px);
  border-color: #6ddcff;
  box-shadow: 
    0 20px 40px rgba(0, 0, 0, 0.5),
    0 0 20px rgba(109, 220, 255, 0.3);
}

.card h2 {
  color: var(--branco);
}

.news {
  max-width: 85%;
  justify-self: center;
  color: #6AD6EE;
  background: #172739;
  border: 2px solid var(--destaque);
  padding: 30px;
  border-radius: 8px;
  text-align: center;
}

.news h2 {
  margin-bottom: 50px;
}

.topbar {
  border-bottom: 2px solid #6AD6EE;
}

.footer {
  justify-self: center;
  color: var(--branco);
}