* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-image: url("../../assets/background.png");
  color: #cdeaff;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #172739;
  border-bottom: 1px solid #0ff3;
}

.logo img {
width: 200px;
height: auto;
}

nav a {
  font-size: 18px ;
  font-weight: bold;
  margin-left: 30px;
  cursor: pointer;
  opacity: 0.6;
  color: #D9D9D9;
  text-decoration: none;
}

nav a:hover {
    color: #6AD6EE;
    font-weight: bold;
}

.container {
  padding: 40px 80px;
}

.news {
  color: #6AD6EE;
  background: #172739;
  border: 2px solid #0ff3;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
}

.topbar
{
  border-bottom: 2px solid #6AD6EE;
}
